/* Default theme */
.sys-theme-default {
    --sys-main-color: rgb(84, 92, 100);
    --sys-main-ft-color: rgb(255, 208, 75);
    --sys-main-menu-color: #0c0c0c;
    --sys-main-menu-color2: #23262e;
}

/* VuePoem theme */
.sys-theme-admin-poem {
    --sys-main-color: #409EFF;          //主题色     (顶导航背景)
    --sys-main-ft-color: #409EFF;       //主题字色   (左侧菜单)
    --sys-main-ft-color2: #fff;         //主题字色   (顶部导航)
    --sys-main-menu-color: #0c0c0c;     //菜单背景1
    --sys-main-menu-color2: #23262e;    //菜单背景2
}

/* Green theme */
.sys-theme-green {
    --sys-main-color: #1aa094;          //主题色     (顶导航背景)
    --sys-main-ft-color: #1aa094;       //主题字色   (左侧菜单)
    --sys-main-ft-color2: #fff;         //主题字色   (顶部导航)
    --sys-main-menu-color: #0c0c0c;     //菜单背景1
    --sys-main-menu-color2: #23262e;    //菜单背景2
}

/* 重制elementUI */
.el-pagination.is-background .el-pager li:not(.disabled).active,
button.el-button.el-button--primary {
    background: var(--sys-main-ft-color);
    border: 1px solid var(--sys-main-ft-color);
}
.el-table .ascending .sort-caret.ascending {
    border-bottom-color: var(--sys-main-ft-color)!important;
}
.el-menu--vertical {
    > ul {
        background-color: var(--sys-main-menu-color2);
    }
}
.el-aside {
    transition: width 0.2s;
    -webkit-transition: width 0.2s;
    -moz-transition: width 0.2s;
    -webkit-transition: width 0.2s;
    -o-transition: width 0.2s;
}
.el-menu {
    transition: all 5ms;
}
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: var(--sys-main-ft-color);
    border-color: var(--sys-main-ft-color);
}
.el-select-dropdown__item.selected,
.el-menu-item.is-active {
    color: var(--sys-main-ft-color);
}
.el-select .el-input.is-focus .el-input__inner,
.el-select .el-input__inner:focus,
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
    border-color: var(--sys-main-ft-color);
}
.el-menu--vertical > ul > li > ul > li {
    line-height: 32px;
    height: 32px;
    font-size: .8rem;
}
