/**
 @Desc:   VuePoem theme lists
 @Author: Force (https://www.easybhu.cn)
 */

//VuePoem
.theme-vuepoem {
    --sys-title-color: #545C64;
    --sys-main-color: #FFD04B;
}

//Blue
.theme-blue {
    --sys-title-color: #000;
    --sys-main-color: #409EFF;
}

//Green
.theme-green {
    --sys-title-color: #000;
    --sys-main-color: #1aa094;
}
